.header {
  height: 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: white;
  width: 100%;
  z-index: 99;
  color: black;

  .navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    gap: 20px;

    @media only screen and (max-width: 480px) {
      justify-content: flex-start;
      padding-left: 20px;
      gap: 10px;
    }

    > a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      padding: 0 20px;
      border-radius: 10px;

      @media only screen and (max-width: 480px) {
        padding: 0 10px;
      }
    }

    .active {
      background-color: black;
      color: white;
    }
  }

  .logout {
    position: absolute;
    right: 50px;
    cursor: pointer;

    @media only screen and (max-width: 480px) {
      right: 20px;
    }
  }
}
