.container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f4f6;
  margin-top: 60px;
  min-height: calc(100vh - 60px);

  .quotesContainer {
    display: grid;
    grid-template-columns: repeat(4, 350px);
    gap: 0 40px;

    @media only screen and (max-width: 1560px) {
      grid-template-columns: repeat(3, 350px);
    }

    @media only screen and (max-width: 1180px) {
      grid-template-columns: repeat(2, 350px);
    }

    @media only screen and (max-width: 680px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    &::after,
    &::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      background: #ff3d00;
      width: 16px;
      height: 16px;
      transform: translate(-50%, 50%);
      border-radius: 50%;
    }
    &::before {
      left: auto;
      right: 0;
      background: #fff;
      transform: translate(50%, 100%);
    }
  }
}
.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
  border: 2px solid #000;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
